@import '../../../styles/variables.scss';
@import '../../../styles/layout.scss';

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 90px 0 0 0;

  &.feed{
    padding: 0px 0 0 0;
  }
  &.fixed{
    position: fixed;
  }
  &.large {
    padding: 120px 0 0 0;
  }
}
