.canvas {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 8px;
  
}
.row {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 4em;
  margin-top: 33px;

}