@import '../../../styles/variables.scss';
@import '../../../styles/layout.scss';

.board {
    width: 72vw;
    max-width: 72vh;
    margin: 3rem auto;
}

.border{
  svg{
    filter: drop-shadow(0 0 .5px #fff);
  }
}

.button{
  margin-top: 27px;
  height: 33px;
  font-size: 18px; 
  box-shadow: var(--box-shadow);
  color: var(--text-color);
  background-color: var(--background-color);
}

