@import '../../styles/variables.scss';
@import '../../styles/layout.scss';

.chat {
  margin: 27px;
  height:63vh;
  overflow: auto;
}
.online {
  margin: 21px;
  padding : 18px;
  // width: 333px;
  border: 1px solid black;
}

.container {
  position: fixed;
  bottom: 0px;
  border: 1px solid black;
  height: 81px;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color); 
  transition: background-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out;
  padding: $mobile-padding;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 18px;
  overflow:hidden;

  & > * {
    display: flex;
    align-items: center;
    width: 100%;
  }
}