
@import '../../styles/layout.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.chat {
  margin: 27px;
  height:63vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 108px;

}
.online {
  margin: 21px;
  padding : 18px;
  text-align: flex-start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 108px;
  overflow: scroll;
  border: 1px solid black;
}

.objkt{
  position:relative;
  max-width:399px;
}

.footer {
  position: fixed;
  bottom: 0px;
  border: 1px solid black;
  height: 81px;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color); 
  transition: background-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out;
  padding: $mobile-padding;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 55px;
  overflow:hidden;
  
  & > * {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.profile {
  display: flex;

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    p {
      margin-bottom: 8px;
    }
  }
}

.container {
  .number {
    position: absolute;
    bottom: 6px;
    right: 6px;
    padding: 4px;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: background-color #{$theme-duration} ease-out,
      color #{$theme-duration} ease-out;
  }
  // padding-bottom: 27px;
  margin-bottom: 27px;
}


.card {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 132px;
  background-color: var(--text-color);
  transition: background-color #{$theme-duration} ease-out,
  color #{$theme-duration} ease-out, opacity ease-out #{$theme-duration};
  z-index: 100;
  opacity: 0;
}

.audio{
   top: 0;
   max-height:132px;
};

.collection {
  min-height: 0px;
}
.cardContainer:hover .card {
  opacity: 0.80;
}

.cardText {
  position: relative;
  color: var(--background-color);
  margin: 18px;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  text-indent:0px;
}

.cardTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-indent:0px;
}

.cardCollect {
  @include resetButton;
  position: relative;
  justify-content: end;
  align-items: flex-end;
  text-align: end;
  bottom: 0;
  right: 0;
  margin: 18px;
  text-indent:0px;
  
  .cardCollectPrice {
    padding: 0 27px 0 27px;
    color: var(--background-color);
    border-right: 2px solid var(--background-color);
    border-bottom: 2px solid var(--background-color);
  }
}

.text{
  color: var(--background-color);
}
