
@import '../../styles/layout.scss';
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.live {
  margin-left: 27px;
  width: 94%;
  margin-left: 5%;
  position: relative; 
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 108px;
  margin-top: 12px;
  z-index:1;
}

.online {
  box-shadow: var(--box-shadow);
  position: -webkit-sticky;
  position: sticky;
  top:72px;
  width: 94%;
  margin-left: 3%;
  justify-items: center;
  padding: 18px;
  text-align: flex-start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 108px;
  overflow: auto;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color); 
  z-index:111;
}

.objkt{
  position:relative;
  max-width:399px;
}

.footer {
  box-shadow: var(--box-shadow);
  position: fixed;
  bottom: 0px;
  border: 1px solid var(--text-color);
  height: 81px;
  width: 99%;
  margin-left: .5%;
  background-color: var(--background-color);
  color: var(--text-color); 
  transition: background-color #{$theme-duration} ease-out,
    color #{$theme-duration} ease-out;
  padding: $mobile-padding;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 55px;
  overflow:hidden;
  z-index:101;
  
  & > * {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.profile {
  display: flex;

  .info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    p {
      margin-bottom: 8px;
    }
  }
}

.container {
  width: 94%;
  .number {
    position: absolute;
    bottom: 6px;
    right: 6px;
    padding: 4px;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: background-color #{$theme-duration} ease-out,
      color #{$theme-duration} ease-out;
  }
  // padding-bottom: 27px;
  margin-bottom: 27px;
}


.card {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 132px;
  background-color: var(--text-color);
  transition: background-color #{$theme-duration} ease-out,
  color #{$theme-duration} ease-out, opacity ease-out #{$theme-duration};
  z-index: 100;
  opacity: 0;
}

.audio{
   top: 0;
   max-height:132px;
};

.collection {
  min-height: 0px;
}
.cardContainer:hover .card {
  opacity: 0.80;

}

.cardText {
  position: relative;
  color: var(--background-color);
  margin: 18px;
  opacity: 1;
  overflow: hidden;
  white-space: nowrap;
  text-indent:0px;
}

.cardTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-indent:0px;
}

.cardCollect {
  @include resetButton;
  position: relative;
  justify-content: end;
  align-items: flex-end;
  text-align: end;
  bottom: 0;
  right: 0;
  margin: 11px;
  text-indent:0px;
  
  .cardCollectPrice {
    padding: 0 27px 0 27px;
    color: var(--background-color);
    border-right: 2px solid var(--background-color);
    border-bottom: 2px solid var(--background-color);
  }
}

.text{
  color: var(--background-color);
}

.audioStream {
  display: flex;
  margin-left: 5%;
  padding-bottom: 12px;
  align-items: flex-start;
  background-color: var(--background-color);
}

.icons {  
  align-items:center;
  display:flex;
  justify-content: flex-end;
  svg {
    height:23px;
    width: 23px;
    rect,
    path {
      fill: var(--text-color);
    }
  }
}


span[data-tooltip].top {
  &:before,
  &:after {
    transform: translate(-50%);
  }

  &:hover:after,
  &:hover:before {
    transform: translate(-50%);
  }
}

span[data-tooltip].right {
  &:before{
    transform: translate(-88px, 27px);
  }
  &:after {
    transform: translate(-99px);
    transform: rotate(270deg);
  }

  &:hover:before {
    transform: translate(-88px, 27px);
  }
  &:hover:after{
    transform: rotate(270deg);
  }
}

span[data-tooltip] {
  position: relative;
  color: var(--text-color);
  &:after,
  &:before {
    position: absolute;
    visibility: hidden;
    opacity: 1;
    transition: transform 200ms ease, opacity 200ms;
    z-index: 99;
  }

  &:before {
    content: attr(data-tooltip);
    background-color: var(--text-color);
    color: var(--background-color);
    font-size: 12px;
    font-weight: bold;
    padding: 6px 6px;
    border-radius: 9px;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 1px;
  }

  &:after {
    width: 0;
    height: 0;
    left: 50%;
    border: 6px solid transparent;
    content: '';
  }

  &:hover:after,
  &:hover:before {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0px);
  }
}

span[data-tooltip][data-position='top']:before {
  bottom: 100%;
  left: 50%; 
}

span[data-tooltip][data-position='top']:after {
  border-top-color: var(--text-color);
  border-bottom: none;
  bottom: 101%; 
  margin-bottom: 4px;
}

span[data-tooltip][data-position='right']:before {
  bottom: 30px;
  left: -30px; 
}

span[data-tooltip][data-position='right']:after {
  border-top-color: var(--text-color);
  border-bottom: none;
  left:  -11px;
  bottom: 13px; 
  // margin-bottom: 14px;
}

.fixed {
  position: fixed;
  top: 90px;
  left: 0;
  overflow-y: hidden;
  right: 0px;
  bottom: 0;
}

.media{
  position: -webkit-sticky;
  position:sticky;
  top: 180px;
  padding-top:18px;
  padding-right:22px;
  width: 98vw;
  background-color: var(--background-color);
  color: var(--text-color); 
  overflow-x:hidden;
  z-index: 108;
}
