:root {
  --background-color: var(--background-color);
  --text-color: var(--text-color);
  --text-shadow: var(--text-shadow);
  --drop-shadow: var(--drop-shadow);
  --box-shadow: var(--box-shadow);
  --border-color: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.2);
  font-family: 'Julia Mono', 'IBM Plex Mono', 'Courier New', monospace;
}

$theme-duration: 0.00s;
$mobile-padding: 1.25rem;
$letter-spacing: 0.015em;

