.tag {
    display: inline-flex;
    color: var(--text-color);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 6px;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    margin:4px;
  }

svg{
  box-shadow: var(--box-shadow);
}

.info{
  width: 100vw;
  height: 38px;
  display: flex;
  margin-top: -30px;
  padding-top: 9px;
  justify-content: center;
  border-bottom: 1px solid var(--text-color);
  margin-bottom: 18px;
  box-shadow: var(--box-shadow);
} 