@import '../../../styles/variables.scss';
@import '../../../styles/layout.scss';

.container {
  width: 99%;
  margin: 0 auto;
  margin-bottom: 20px;
  word-break: break-word;

  @include respond-to('desktop') {
    width: 81%;
  }

  &.large {
    @include respond-to('desktop') {
      width: 81%;
    }
  }

  &.xlarge {
    @include respond-to('desktop') {
      width: 81%;
    }
  }
}
