@import '../../../styles/variables.scss';
@import '../../../styles/layout.scss';

.container {
  width: 97%;
  margin: 0 auto;
  margin-bottom: 20px;
  word-break: break-word;
  overflow-x: hidden;

  @include respond-to('desktop') {
    width: 72%;
  }

  &.large {
    @include respond-to('desktop') {
      width: 72%;
    }
  }

  &.xlarge {
    @include respond-to('desktop') {
      width: 72%;
    }
  }
}
