@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.zap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: baseline;
    white-space: nowrap;
    top: 0;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      display: none;
    }
    input {
        text-align:center;
    }
    label{
        width:88px;
        text-align:center;
    } 
   
}

