@import '../../styles/variables.scss';
@import '../../styles/layout.scss';

.neon {
  display: flex;
  justify-content: flex-end;
  margin-right: 27px;
  height: auto;
}

.vs {
  width: 100vw;
  height: 38px;
  display: flex;
  padding-top: 9px;
  justify-content: center;
  margin-bottom: 18px;

}

.ascii {
  font-size: 21px;
  margin-top: -2px;
}

.online {
    width: 100vw;
    height: 38px;
    display: flex;
    margin-top: -30px;
    justify-content: space-around;
    // padding-right: 16%;
    border-bottom: 1px solid var(--text-color);
    margin-bottom: 18px;
    overflow-x: auto;
    overflow-y: visible;
    box-shadow: var(--box-shadow);
    -ms-overflow-style: none; 
    scrollbar-width: none; 
} 

.online::-webkit-scrollbar {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  visibility: visible;
  color: var(--text-color);
}

.tooltip .tooltiptext {
  top: -4px;
  margin-left: 5px;
  visibility: hidden;
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  left:100%;
  font-size: 12px;
  font-weight: bold;
  padding: 6px 6px;
  border-radius: 9px;
  position: absolute;
  // margin-top: -6px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  transform: rotate(90deg);
  right: 100%;
  top: 8px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--text-color) transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
